$color-white: #fff;
$color-black: #000;
$color-grey: #e9eaec;
$color-blue: #2d8cf0;
$success-color: #19be6b;
$error-color: #ed3f14;
$warning-color: #ff9900;
$disabled-color: #bbbec4;
$background-color: #f8f8f9;
$border-color: #dddee1;
$title-color: #1c2438;
$value-color: #495060;
$sub-color: #80848f;
$split-line-color: $color-grey;
$primary-color: $color-blue;

/* Cell Component */
$cell-value-color: $value-color;

/* Header Component */
$header-height: 40px;

/* Button Component */
$button-default-color: $value-color;
$button-default-background-color: $color-white;
$button-default-plain-color: $value-color;
$button-default-box-shadow: none;
$button-primary-color: $color-white;
$button-primary-background-color: $primary-color;
$button-danger-color: $color-white;
$button-danger-background-color: $error-color;

/* Tab Item Component */
$tab-item-font-size: 14px;

/* Tabbar Component */
$tabbar-background-color: $color-white;
$tabbar-tab-item-selected-background-color: transparent;
$tabbar-tab-item-selected-color: $primary-color;

/* Navbar Component */
$navbar-background-color: $color-white;

/* Checklist Component */
$checklist-title-color: $value-color;
$checklist-border-color: $border-color;

/* Radio Component */
$radio-title-color: $value-color;
$radio-border-color: $border-color;

/* ActionSheet Component */
$actionsheet-background-color: $background-color;
$actionsheet-border-color: $split-line-color;
$actionsheet-item-color: $value-color;
$actionsheet-item-active-background-color: $color-white;

/* TimePicker component */
$picker-border-color: $border-color;

/* Picker */
$picker-slot-color: $value-color;

/* IndexList component */
$indexlist-border-color: $split-line-color;

/* IndexSection component */
$indexsection-background-color: $background-color;

/* MessageBox component */
$messagebox-title-color: $title-color;
$messagebox-content-color: $value-color;
$messagebox-border-color: $border-color;
$messagebox-input-border-color: $border-color;
$messagebox-input-invalid-border-color: $error-color;

/* Progress component */
$progress-background-color: $background-color;

/* Range component */
$range-border-color: $border-color;

/* Switch component */
$switch-checked-background-color: $success-color;

/* Common shadow and background colors*/
$default-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
$ind-background-color: rgba(0, 0, 0, .7);

/* z-index */
$z-index-normal: 1;
