/**
 * 以下用来覆盖默认样式和增加新的样式
 */
@import "./var.css";

/* 按钮样式调整 */
.mint-button--small {
  font-size: 16px !important;
  height: 36px !important;
}

/* 使得 cell 分隔线占 100%，无默认的 10px 缩进 */
.mint-cell-wrapper {
  background-origin: padding-box !important;
}

/* Tab 组件底部 border 位置调整 */
.mint-navbar .mint-tab-item.is-selected {
  border-bottom-width: 2px !important;
  margin-bottom: 0px !important;
}

/* Field 组件中 文字对齐方式修改 */
.mint-field.is-textarea .mint-cell-wrapper {
  align-items: flex-start;
}

.mint-field.is-textarea .mint-cell-wrapper .mint-cell-title {
  padding: 12px 0;
}

/* 常用色值 */
.color-primary {
  color: $primary-color;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-primary-lv2 {
  background-color: rgba(45, 140, 240, 0.20);
}

.color-warning {
  color: $warning-color;
}

.bg-warning {
  background-color: $warning-color;
}

.bg-warning-lv2 {
  background-color: rgba(255, 153, 0, 0.20);
}

.color-error {
  color: $error-color;
}

.bg-error {
  background-color: $error-color;
}

.bg-error-lv2 {
  background-color: rgba(237, 63, 20, 0.20);
}

.color-success {
  color: $success-color;
}

.color-title {
  color: $title-color;
}

.color-subtitle {
  color: $sub-color;
}

.color-border, .color-dim {
  color: $border-color;
}

.color-content {
  color: $value-color;
}