/**
 * 主要用来覆盖默认样式
 */

/* 使得 cell 分隔线占 100%，无默认的 10px 缩进 */
.mint-cell-wrapper {
  background-origin: padding-box !important;
}

/* Tab 组件底部 border 位置调整 */
.mint-navbar .mint-tab-item.is-selected {
  border-bottom-width: 2px !important;
  margin-bottom: 0px !important;
}

/* Field 组件中 文字对齐方式修改 */
.mint-field.is-textarea .mint-cell-wrapper {
  align-items: flex-start;
}

.mint-field.is-textarea .mint-cell-wrapper .mint-cell-title {
  padding: 12px 0;
}
