/**
 * 以下用来覆盖默认样式和增加新的样式
 */
@import "./var.css";

input, textarea {
    color: $value-color;
    font-family: PingFang SC, Microsoft Yahei;
    padding: 0;
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: $border-color;
}

/* 按钮样式调整 */
.mint-button--small {
  font-size: 16px !important;
  height: 36px !important;
}

/* 使得 cell 分隔线占 100%，无默认的 10px 缩进 */
.mint-cell-wrapper {
  background-origin: padding-box !important;
}

/* Tab 组件底部 border 位置调整 */
.mint-navbar .mint-tab-item {
  color: $sub-color !important;
}

.mint-navbar .mint-tab-item.is-selected {
  color: $value-color !important;
  border-bottom-width: 2px !important;
  margin-bottom: 0px !important;
  z-index: 1;
}

/* Field 组件中 文字对齐方式修改 */
.mint-field.is-textarea .mint-cell-wrapper {
  align-items: flex-start;
}

.mint-field.is-textarea .mint-cell-wrapper .mint-cell-value {
  padding: 8px 0;
}

.mint-field.is-textarea .mint-cell-wrapper .mint-cell-title {
  padding: 12px 0;
}

.mint-cell-title .mint-cell-text {
    color: $value-color;
}

.mint-field-core {
    padding-right: 0.2rem;
    text-align: right;
}

textarea.mint-field-core {
    text-align: left;
    margin: 0;
    padding-right: 0;
    padding-top: 1px;
}

.mint-field-clear {
    visibility: hidden;
    position: absolute;
}

.mint-field.is-textarea {
    .mint-cell-wrapper {
        align-items: flex-start;
    }
}

.mint-tab-item .mint-tab-item-label {
    font-size: 0.7rem;
}

/* 常用色值 */
.color-primary {
  color: $primary-color;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-primary-lv2 {
  background-color: rgba(45, 140, 240, 0.20);
}

.color-warning {
  color: $warning-color;
}

.bg-warning {
  background-color: $warning-color;
}

.bg-warning-lv2 {
  background-color: rgba(255, 153, 0, 0.20);
}

.color-error {
  color: $error-color;
}

.bg-error {
  background-color: $error-color;
}

.bg-error-lv2 {
  background-color: rgba(237, 63, 20, 0.20);
}

.color-success {
  color: $success-color;
}

.color-title {
  color: $title-color;
}

.color-subtitle {
  color: $sub-color;
}

.color-border, .color-dim {
  color: $border-color;
}

.color-content {
  color: $value-color;
}